# dependencies
node_modules

# sst
.sst
.build


# misc
.DS_Store

# local env files
.env*.local
.envrc

dist
.wrangler
.dev.vars

# Change them to your taste:
package-lock.json
yarn.lock
pnpm-lock.yam

# Drizzle files
migrations/
