# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v6.0.0
        hooks:
            -   id: trailing-whitespace
            -   id: end-of-file-fixer
            -   id: check-yaml
            -   id: check-added-large-files
            -   id: check-case-conflict
            -   id: check-illegal-windows-names
            -   id: check-json
            -   id: detect-private-key
            -   id: fix-byte-order-marker
            -   id: forbid-submodules
